@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-image: url('https://s3-alpha-sig.figma.com/img/8c6a/dec6/aaee6ba6ab952d34c38b9ac896f31e72?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kv9CQqP3uJgNEBtSUtIf60ivq-ftRMxWqNYIGmehhTzuj39yetn-9db~7VhYoQA63ACV71GbLWOqrwDYW7-xSADzmAxKhVzgif7-D0RbYHEJwxf2OrU5-cOS0O9s-ixLi0sfaaUwvVHdJNvPmr04RjrDhdVaULGglk-i1Hx9u6W-mJe16k3qaRHUNIPkF-vLGJy2c6ygRjS~LTCsLIlQ9EoqqiR6JcPwA1BakMVFKHIokKqzp~PkTraxYQ8NZQfvGRORM30nOuINkDHbxVf~I8UBWyHWshigN9-zxuJov06-E9VjsV2Aj~zgLv08OocSd83~chB-jBS3WFbYw1pOvg__');
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 20px;
    color: white;
    text-align: left;
}

.header h1 {
    font-family: 'Noto Sans KR', sans-serif;
    width: 380px;
    height: 44px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    
    color: white; /* 글씨 색상을 흰색으로 설정 */
    text-shadow: 
    1px 1px 0 #677AF9, /* 오른쪽 아래 */
    -1px 1px 0 #677AF9, /* 왼쪽 아래 */
    1px -1px 0 #677AF9, /* 오른쪽 위 */
    -1px -1px 0 #677AF9; /*왼쪽 위 */
    margin: 0;
}

.header p {
    width: 380px;
    height: 16px;
    gap: 0px;
    opacity: 0.8px;
    color:#677AF9;
    text-shadow: 
    1px 1px 0 white, /* 오른쪽 아래 */
    -1px 1px 0 white, /* 왼쪽 아래 */
    1px -1px 0  white, /* 오른쪽 위 */
    -1px -1px 0  white; /* 왼쪽 위 */
}
